<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>开智后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="course_id" id="id" required lay-verify="required"  disabled="disabled" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程封面</label>
            <div class="layui-input-block">
                <input type="text" name="cover" id="cover" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">副标题</label>
            <div class="layui-input-block">
                <input type="text" name="subtitle"  id="subtitle" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收费链接</label>
            <div class="layui-input-block">
                <input type="text" name="price_url" id="price_url"   autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form" lay-filter="userFilter">
            <label class="layui-form-label">创建用户</label>
            <div class="layui-input-inline">
                <select name="create_user" lay-verify="required" id="create_user" lay-filter="create_user" lay-search="">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程卡包</label>
            <div class="layui-input-inline">
                <select name="cp" id="cp" lay-filter="cp" lay-search="">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作业卡包</label>
            <div class="layui-input-inline">
                <select name="hp" id="hp" lay-search="">

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <input type="text" name="classify" id="classify" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">讲师</label>
            <div class="layui-input-inline">
                <input type="text" name="host" id="host" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" id="start_time" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="end_time" id="end_time" required lay-verify="required"  autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否收费</label>
            <div class="layui-input-block">
                <select name="is_fee" id="is_fee" lay-verify="required">
                    <option value=""></option>
                    <option value="0">免费</option>
                    <option value="1">收费</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否讨论</label>
            <div class="layui-input-block">
                <select name="is_discuss" id="is_discuss" lay-verify="required">
                    <option value=""></option>
                    <option value="1">是</option>
                    <option value="0">否</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否结业</label>
            <div class="layui-input-block">
                <select name="is_graduate" id="is_graduate" >
                    <option value=""></option>
                    <option value="0">是</option>
                    <option value="1">否</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use('form', function () {
        form = layui.form;
        form.render();
        $ = layui.jquery;
        $(function () {
            $.ajax({
                url:"http://kaizhi2.wegox.cn/t/manager/get_all_user",
                method:"POST",
                page:true,
                success:function (data) {
                    if (data.errno === 0){
                        var s = JSON.stringify(data.data.map(function (item) {
                            return {id:item.id,name:item.username};
                        }));
                        $.each($.parseJSON(s),function (index,value) {
                            $('#create_user').append("<option value='"+value.id+"'>"+value.name+"<option>");
                            $('#create_user').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).userid);
                        });
                        $.ajax({
                            url:"http://kaizhi2.wegox.cn/t/manager/user_package",
                            method:"POST",
                            page:true,
                            data:{id:JSON.parse(window.localStorage.getItem('COURSEINFO')).userid},
                            success:function (data) {
                                if (data.errno === 0){
                                    var s = JSON.stringify(data.data.map(function (item) {
                                        return {id:item.id,name:item.package_name};
                                    }));
                                    $.each($.parseJSON(s),function (index,val) {

                                        $('#cp').append("<option value='"+val.id+"'>"+val.name+"<option>");
                                        $('#cp').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).cpid);


                                        $('#hp').append("<option value='"+val.id+"'>"+val.name+"<option>");
                                        $('#hp').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).hpid);
                                    });
                                    form.render();

                                }else {
                                    layer.msg(data.msg);
                                }
                            }
                        });
                        form.render();
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });



        form.on(['select(create_user)'], function (data) {
            value = data.value;
            name = data.elem[data.elem.selectedIndex].text;
            $('#cp').html("");
            $('#hp').html("");

            $.ajax({
                url:"http://kaizhi2.wegox.cn/t/manager/user_package",
                method:"POST",
                page:true,
                data:{id:value},
                success:function (data) {
                    if (data.errno === 0){
                        var s = JSON.stringify(data.data.map(function (item) {
                            return {id:item.id,name:item.package_name};
                        }));
                        $.each($.parseJSON(s),function (index,val) {
                            $('#cp').append("<option value='"+val.id+"'>"+val.name+"<option>");

                        });
                        $.each($.parseJSON(s),function (index,val) {
                            $('#hp').append("<option value='"+val.id+"'>"+val.name+"<option>");
                        });

                        form.render();
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });

        });

        form.on('submit(add)', function (data) {
            alert(JSON.stringify(data.field));
            $.ajax({
                url:"http://kaizhi2.wegox.cn/t/manager/modify_course",
                method:"POST",
                page:true,
                data:JSON.stringify(data.field),
                success:function (data) {
                    if (data.errno === 0){

                        layer.alert("修改成功",function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });

                    }else {
                        layer.msg(data.msg);
                    }
                }
            });

            return false;
        });

        $('#id').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).course_id);
        $('#cover').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).cover);
        $('#title').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).title);
        $('#subtitle').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).subtitle);
        $('#description').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).description);
        $('#price_url').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).price_url);

        $('#hp').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).hp);
        $('#classify').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).classify);
        $('#host').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).host);
        $('#start_time').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).start_time);
        $('#end_time').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).end_time);
        $('#is_fee').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).is_fee);
        $('#is_discuss').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).is_discuss);
        $('#is_graduate').val(JSON.parse(window.localStorage.getItem('COURSEINFO')).is_graduate);
//        form.render()
    });


</script>

</body>

</html>